torch==1.1.0
torchvision==0.3.0
torchsummary==1.5.1
tensorboardX==2.0
tensorboard==2.0.2
tqdm==4.41.1             
transformers==2.3.0
pytorch-transformers==1.2.0
scipy==1.4.1
numpy==1.18.0
sklearn
cython
python-opencv
pycairo
jsonlines